.rc-slider-track,
.rc-slider-rail {
  transition: transform 0.25s;
}
.rc-slider:hover .rc-slider-track,
.rc-slider:hover .rc-slider-rail {
  transform: scaleY(2.5);
}
.SimulatorControls {
  z-index: 1;
  width: 90%;
  color: #2980b9;
  font-size: 32px;
  position: absolute;
  bottom: 16px;
  left: 5%;
}
.controlButtons {
  padding-top: 8px;
  text-align: center;
}
.controlButtons i {
  padding: 4px;
}
.controlButtons i[disabled] {
  color: lightgrey;
  pointer-events: none;
}
.controlButtons i:active {
  opacity: 0.5;
}
/** Icons declaration **/
@font-face {
  font-family: 'icomoon';
  src: url('../../fonts/icomoon.ttf?28gf5i') format('truetype'), url('../../fonts/icomoon.woff?28gf5i') format('woff'), url('../../fonts/icomoon.svg?28gf5i#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-play:before {
  content: "\ea15";
}
.icon-pause:before {
  content: "\ea16";
}
.icon-stop:before {
  content: "\ea17";
}
.icon-previous:before {
  content: "\ea18";
}
.icon-next:before {
  content: "\ea19";
}
