.SimulatorToolbar {
  position: absolute;
  z-index: 1;
  width: 90%;
  bottom: 16px;
  left: 5%;

  .positionInfo {
    position: absolute;
    right: 0;
    bottom: 4px;

    .positionInfoRow {
      display: inline-table;
      margin-right: 8px;

      &:last-child
      {
        margin-right: 0;
      }
    }

    .positionInput {
      width: 45px;
      margin-left: 4px;
      text-align: center;

      -moz-appearance:textfield;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
    }
  }

  .sensorReadings {
    position: absolute;
    bottom: 4px;
    background: #eeeeee;
    height: 20px;
    border: solid 1px lightblue;
    border-radius: 8px;
    padding: 8px;

    .reading {
      width: 8px;
      height: 8px;
      position: relative;
      margin: 0 4px;
      top: -10px;
      display: inline-block;
      background: blue;

      &.active {
        background: red;
      }
    }
  }
}